<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="warn">
  <span>Huber</span>
</mat-toolbar>


<div style="text-align:center">
  <h3 align="left" class="head">
    Here are your recepies:
  </h3>
</div>

<!-- <table>
  <thead>
      <th>Name</th>
      <th>Index</th>
  </thead>
  <tbody>
    <tr *ngFor="let hero of heroes; let i = index">
      <td>{{hero.name}}</td>
      <td>{{i}}</td>
    </tr>
  </tbody>
</table> -->

<mat-grid-list cols="1" rowHeight="fit" guttersize="20px" class="space" *ngFor="let card of cards;">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{card.name}}</mat-card-title>
        <mat-card-subtitle>{{card.calorie}}</mat-card-subtitle>
      </mat-card-header>
      <!-- <img mat-card-image src={{user.url}}> -->
      <mat-card-content>
        <p>
          {{card.ingredients}}
        </p>
      </mat-card-content>
    </mat-card>
    
  <!-- <mat-grid-tile></mat-grid-tile> -->
</mat-grid-list>

