<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="warn">
  <span>Huber</span>
</mat-toolbar>


<div style="text-align:center">
  <h3 align="left" class="head">
    Here are your recepies:
  </h3>
</div>
<div>
  <mat-grid-list cols="1" rowHeight="fit" guttersize="20px" class="space" *ngFor="let card of cards;">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{card.label}}</mat-card-title>
          <mat-card-subtitle>Calories: {{card.calories}}</mat-card-subtitle>
          <mat-card-subtitle>Health Labels: {{card.healthLabels}}</mat-card-subtitle>
          <mat-card-subtitle>Deit Labels: {{card.dietLabels}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{card.image}}>
        <mat-card-content>
          <p>
            What you need: {{card.ingredientLines}}
          </p>
          <p>
            Directions: {{card.url}}
          </p>
        </mat-card-content>
      </mat-card>
  </mat-grid-list>
</div>

<div>
  <h5 align="left" class="head">
    Potential Recommendations Based On Your Interests:
  </h5>

  <mat-grid-list cols="1" rowHeight="fit" guttersize="20px" class="space" *ngFor="let rec_card of rec_cards;">
      <mat-card class="rec-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{rec_card.label}}</mat-card-title>
          <mat-card-subtitle>Calories: {{rec_card.calories}}</mat-card-subtitle>
          <mat-card-subtitle>Health Labels: {{rec_card.healthLabels}}</mat-card-subtitle>
          <mat-card-subtitle>Deit Labels: {{rec_card.dietLabels}}</mat-card-subtitle>
        </mat-card-header>
        <img class="one" mat-card-image src={{rec_card.image}}>
        <mat-card-content>
          <p>
            What you need: {{rec_card.ingredientLines}}
          </p>
          <p>
            Directions: {{rec_card.url}}
          </p>
        </mat-card-content>
      </mat-card>
  </mat-grid-list>
</div>